html{
  background: #e5e5e5;
}
.image-grid {
  display: grid;
  /* grid-template: auto auto / repeat(3,400px); */
  grid-template-rows: auto auto;
  grid-template-columns: 600px 600px;
  grid-gap: 15px;

}
div.image-grid {
  width: 90%;
  margin: 0 auto;
}

.image-grid div img {
  max-width: 600px;
  height: auto;
}

.container {
  overflow: scroll;
  width: 90%;
  margin: 0 auto;
  background: black;
  text-align: center;
}
h1 {
  color: white;
  font-size: 50px;
}
